.pageWrapper {
  display: flex;
}

.modalLike {
  width: 100%;
  background: var(--tg-card-2);
  border-radius: 8px;
  padding: 12px;
  padding-top: 0px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.35);
}

.modalHeader {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.modalBody {
  padding-top: 14px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.input {
  background: var(--tg-item-button-bg-hover);
  color: rgba(255, 255, 255, 0.92);
  border-radius: 10px;
  padding: 10px 12px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.06);
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.35);
}

.selectLike {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--tg-item-button-bg-hover);
  padding: 10px 12px;
  border-radius: 10px;
  cursor: pointer;
}

.modalFooter {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.secondaryBtn {
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
}

.primaryBtn {
  border-radius: 8px;
  padding: 8px 12px;
  background: var(--tg-accent);
  cursor: pointer;
}