.section {
  background: var(--tg-item-button-bg);
  border-radius: 8px;
  overflow: hidden;
}

/* ===== Items ===== */
.item,
.itemBack {
  width: 100%;
  background: transparent;
  border: none;
  padding: 12px 10px 12px 24px;
  color: var(--tg-text);
  text-align: left;
  font-size: 14px;
  cursor: pointer;
  border-bottom: 1px solid var(--tg-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.itemLeft {
  display: flex;
  gap: 12px;
  align-items: center;
}

.item:last-child {
  border-bottom: none;
}

.item:hover {
  background: var(--tg-item-button-bg-hover);
}

.titleBlock {
  margin-left: 12px;
  margin-bottom: 12px;
}