.section {
  background: var(--tg-item-button-bg);
  border-radius: 8px;
  overflow: hidden;
}

/* ===== Items ===== */
.item,
.itemBack {
  width: 100%;
  background: transparent;
  border: none;
  padding: 12px 10px 12px 24px;
  color: var(--tg-text);
  text-align: left;
  font-size: 14px;
  cursor: pointer;
  border-bottom: 1px solid var(--tg-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.item {
  min-width: 0;
}

.itemLeft {
  display: flex;
  gap: 12px;
  align-items: center;
  min-width: 0;
}

.itemRight {
  display: flex;
  align-items: center;
  gap: 8px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 6px;
}

.actionBtn {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--tg-text);
}

.actionBtn:hover {
  opacity: 0.75;
}

.item:last-child {
  border-bottom: none;
}

.item:hover {
  background: var(--tg-item-button-bg-hover);
}

.titleBlock {
  margin-left: 12px;
  margin-bottom: 12px;
}

.textEllipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}