.card {
  background: var(--tg-card-2);
  border-radius: 8px;
  padding: 14px;
  color: #fff;
}

.itemBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #2b3542;
  padding: 8px 12px;
  border-radius: 8px;
}

.cardTitle {
  margin-bottom: 12px;
}

.row {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.row b {
  margin-left: auto;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.income {
  background: var(--tg-success);
}

.expense {
  background: var(--tg-danger);
}

.balance {
  background: var(--tg-warning);
}