.filterBtn {
  background-color: var(--tg-card-2);
  padding: 6px 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  border-radius: 6px;
}

.listBlock {
  display: flex;
  flex-direction: column;
  background-color: var(--tg-card-2);
  border-radius: 8px;
  position: absolute;
  z-index: 10;
  width: auto;
}

.listItem {
  padding: 8px 16px;
  padding-right: 12px;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
}

.listItem:not(:last-child) {
  border-bottom: 1px solid var(--tg-bg);
}

.wrapper {
  position: relative;
}

.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 9;
}

.listBlock {
  display: flex;
  flex-direction: column;
  background-color: var(--tg-card-2);
  border-radius: 8px;
  position: absolute;
  z-index: 10;
  width: max-content;
  margin-top: 6px;
}

.listBlockLeft {
  right: 0px;
}
