.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input,
.textarea {
  background: var(--tg-item-button-bg-hover);
  color: rgba(255, 255, 255, 0.92);
  border-radius: 8px;
  padding: 10px 12px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.06);
  /* margin-bottom: 20px; */
  font-size: 14px;
}

.input::placeholder,
.textarea::placeholder {
  color: var(--tg-text-3);
}

.textarea {
  min-height: 90px;
  resize: none;
}

.desc {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  margin-top: 6px;
}