.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 2000;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  max-width: 95vw;
  max-height: 80vh;
  display: flex;
}

.image {
  width: 100%;
  flex: 1;
}

.close {
  position: absolute;
  top: -40px;
  right: 0;

  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}